@import "./colors";

.btn {
    border-radius: 8px;
    text-decoration: none;
    padding: 18px 26px;
    font-size: 18px;
    transition: all 0.2s linear;
    display: inline-block;
    border: 1px solid transparent;

    &-primary {
        color: #fff;
        background-color: $clr-blue;
        border-color: $clr-blue;

        &-outline {
            color: $clr-blue;
            border-color: $clr-blue;
            background-color: #fff;
        }
    }

    &-warning{
        color: #fff;
        background-color: $clr-orange;
        border-color: $clr-orange;

        &-outline {
            color: $clr-orange;
            border-color: $clr-orange;
            background-color: #fff;
        }    
    }

    &-light {
        color: $clr-blue;
        background-color: #fff;
        border-color: #fff;

        &-outline {
            color: #fff;
            border-color: #fff;
            background-color: $clr-blue;
        }
    }

    &-sm {
        font-size: 14px;
        padding: 10px 15px;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
