@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

/**
 * Kullanım:
 *	@include MinWidthResponsive(240px){}
 *  ...
 *  ...
 *  ...
 *  @include MaxWidthResponsive(1500px){}
 *
 */
@font-face {
  font-family: JakartaLight;
  src: url("../fonts/PlusJakartaDisplay-Light.otf");
}

@font-face {
  font-family: JakartaRegular;
  src: url("../fonts/PlusJakartaDisplay-Regular.otf");
}

@font-face {
  font-family: JakartaMedium;
  src: url("../fonts/PlusJakartaDisplay-Medium.otf");
}

@font-face {
  font-family: JakartaBold;
  src: url("../fonts/PlusJakartaDisplay-Bold.otf");
}

.btn {
  border-radius: 8px;
  text-decoration: none;
  padding: 18px 26px;
  font-size: 18px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}

.btn:before, .btn:after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  background: #ffffff40;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #1F509F;
  border-color: #1F509F;
}

.btn-primary-outline {
  color: #1F509F;
  border-color: #1F509F;
  background-color: #fff;
}

.btn-primary-outline:before, .btn-primary-outline:after {
  background: #b4b4b440;
}

.btn-warning {
  color: #fff;
  background-color: #F29D4B;
  border-color: #F29D4B;
}

.btn-warning-outline {
  color: #F29D4B;
  border-color: #F29D4B;
  background-color: #fff;
}

.btn-light {
  color: #1F509F;
  background-color: #fff;
  border-color: #fff;
}

.btn-light:before, .btn-light:after {
  background: #b4b4b440;
}

.btn-light-outline {
  color: #fff;
  border-color: #fff;
  background-color: #1F509F;
}

.btn-sm {
  font-size: 14px;
  padding: 10px 15px;
}

.btn:hover:before {
  -webkit-animation: drop 1.5s linear 0s infinite;
          animation: drop 1.5s linear 0s infinite;
}

.btn:hover:after {
  -webkit-animation: drop 1.5s linear 0.35s infinite;
          animation: drop 1.5s linear 0.35s infinite;
}

@-webkit-keyframes drop {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 125%;
    opacity: 0;
  }
}

@keyframes drop {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 125%;
    opacity: 0;
  }
}

body {
  font-family: JakartaRegular, sans-serif;
  color: #072125;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body a {
  color: #072125;
}

main.main {
  width: 100%;
  max-width: 1360px;
  padding-top: 20px;
  margin: auto 20px;
}

@media (max-width: 1480px) {
  main.main {
    max-width: 1200px;
  }
}

@media (max-width: 576px) {
  main.main {
    width: calc(100% - 20px);
  }
}

main.main .navbar {
  width: 100%;
  padding: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main.main .navbar {
    padding: 15px 0 30px;
  }
}

@media (max-width: 576px) {
  main.main .navbar {
    padding: 10px 0 20px;
  }
}

@media (max-width: 1320px) {
  main.main .navbar-nav {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f6f9fb;
    z-index: 9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1320px) {
  main.main .navbar-nav.open {
    left: 0;
  }
}

main.main .navbar-nav .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1320px) {
  main.main .navbar-nav .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main.main .navbar-nav .menu-list-item {
  padding-left: 10px;
  padding-right: 20px;
}

@media (max-width: 1320px) {
  main.main .navbar-nav .menu-list-item {
    margin-bottom: 25px;
  }
}

main.main .navbar-nav .menu-list-item .item-link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main.main .navbar-nav .menu-list-item .item-link:hover {
  color: #1f509f;
}

main.main .navbar-nav .menu-list-item:last-child {
  padding-right: 10px;
}

main.main .navbar-nav .menu-close-btn {
  border: 1px solid #1F509F;
  border-radius: 8px;
  height: 34px;
  width: 34px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main.main .navbar-nav .menu-close-btn:before, main.main .navbar-nav .menu-close-btn:after {
  content: "";
  width: 50%;
  position: absolute;
  height: 2px;
  background-color: #1F509F;
  top: 50%;
  left: 50%;
}

main.main .navbar-nav .menu-close-btn:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

main.main .navbar-nav .menu-close-btn:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

main.main .navbar-nav .menu-close-btn:hover {
  background-color: #1F509F;
}

main.main .navbar-nav .menu-close-btn:hover:before, main.main .navbar-nav .menu-close-btn:hover:after {
  background-color: #fff;
}

@media (min-width: 1321px) {
  main.main .navbar-nav .menu-close-btn {
    display: none;
  }
}

@media (min-width: 1321px) {
  main.main .navbar-nav > .btn {
    display: none;
  }
}

main.main .navbar-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  main.main .navbar-btn .btn {
    display: none;
  }
}

main.main .navbar-btn .menu-open-btn {
  border: 1px solid #1F509F;
  border-radius: 8px;
  margin-left: 10px;
  height: 34px;
  width: 34px;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main.main .navbar-btn .menu-open-btn:before, main.main .navbar-btn .menu-open-btn:after {
  content: "";
  width: 30%;
  position: absolute;
  height: 2px;
  background-color: #1F509F;
  top: 50%;
}

main.main .navbar-btn .menu-open-btn:before {
  left: 50%;
  -webkit-box-shadow: 0 -5px 0 0 #1F509F;
          box-shadow: 0 -5px 0 0 #1F509F;
}

main.main .navbar-btn .menu-open-btn:after {
  right: 50%;
  -webkit-box-shadow: 0 5px 0 0 #1F509F;
          box-shadow: 0 5px 0 0 #1F509F;
}

main.main .navbar-btn .menu-open-btn:hover {
  background-color: #1F509F;
}

main.main .navbar-btn .menu-open-btn:hover:before, main.main .navbar-btn .menu-open-btn:hover:after {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 0 0 #fff,0 -5px 0 0 #fff;
          box-shadow: 0 5px 0 0 #fff,0 -5px 0 0 #fff;
}

@media (min-width: 1321px) {
  main.main .navbar-btn .menu-open-btn {
    display: none;
  }
}

main.main .dashboard {
  background-color: #f6f9fb;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  main.main .dashboard {
    border-radius: 30px;
  }
}

@media (max-width: 576px) {
  main.main .dashboard {
    border-radius: 20px;
  }
}

main.main .dashboard .description {
  padding: 10px 5px 10px 60px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

@media (max-width: 1320px) {
  main.main .dashboard .description {
    padding: 60px 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 576px) {
  main.main .dashboard .description {
    padding: 50px 20px;
  }
}

main.main .dashboard .description-title {
  font-family: JakartaMedium, sans-serif;
  font-size: 48px;
  padding-bottom: 40px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  main.main .dashboard .description-title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  main.main .dashboard .description-title {
    font-size: 32px;
  }
}

main.main .dashboard .description-title.bold-title {
  font-family: JakartaBold, sans-serif;
  font-size: 50px;
}

@media (max-width: 768px) {
  main.main .dashboard .description-title.bold-title {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  main.main .dashboard .description-title.bold-title {
    font-size: 36px;
  }
}

main.main .dashboard .description-text {
  font-size: 22px;
  padding-bottom: 40px;
  line-height: 1.6;
  color: #31383d;
}

@media (max-width: 768px) {
  main.main .dashboard .description-text {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  main.main .dashboard .description-text {
    font-size: 16px;
  }
}

main.main .dashboard .description-text.clr-gray {
  color: #6b747a;
}

main.main .dashboard .description-text .clr-orange {
  color: #f29d4b;
}

@media (max-width: 576px) {
  main.main .dashboard .description-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.main .dashboard .description-buttons .btn {
  margin-right: 15px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  main.main .dashboard .description-buttons .btn {
    margin-right: 0;
  }
}

main.main .dashboard .description-buttons .btn:last-child {
  margin-right: 0;
}

main.main .dashboard .description.center-items {
  max-width: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  margin: auto;
  text-align: center;
}

main.main .dashboard-image {
  padding: 10px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

@media (max-width: 1320px) {
  main.main .dashboard-image {
    display: none;
  }
}

main.main .dashboard-image.mg-right {
  margin-right: -40px;
  text-align: right;
}

main.main .dashboard.chain-img {
  padding-bottom: 80px;
}

@media (max-width: 576px) {
  main.main .dashboard.chain-img {
    padding-bottom: 0;
  }
}

main.main .dashboard + .mg-bottom {
  margin-top: -150px;
}

@media (max-width: 576px) {
  main.main .dashboard + .mg-bottom {
    display: none;
  }
}

main.main .dashboard + .mg-bottom img {
  width: 100%;
}

main.main .dashboard-blue {
  background-color: #2c54a3;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

@media (max-width: 768px) {
  main.main .dashboard-blue {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  main.main .dashboard-blue {
    padding: 25px 0;
  }
}

main.main .dashboard-blue .description-text {
  color: #fff;
  font-family: JakartaLight;
  padding: 20px 0 50px;
}

@media (max-width: 768px) {
  main.main .dashboard-blue .description-text {
    padding: 15px 0 40px;
  }
}

@media (max-width: 576px) {
  main.main .dashboard-blue .description-text {
    padding: 10px 0 30px;
  }
}

main.main .dashboard-blue:before, main.main .dashboard-blue:after {
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  background-color: #ffffff;
  opacity: 0.05;
  top: 0;
  border-radius: 100%;
}

main.main .dashboard-blue:before {
  left: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

main.main .dashboard-blue:after {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

main.main .brands {
  width: 100%;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  main.main .brands {
    padding-bottom: 25px;
  }
}

main.main .brands .brand-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px 0 20px;
}

@media (max-width: 768px) {
  main.main .brands .brand-list {
    padding: 30px 0 10px;
  }
}

@media (max-width: 576px) {
  main.main .brands .brand-list {
    padding: 15px 0 5px;
  }
}

main.main .brands .brand-list .list-item {
  padding: 10px;
}

@media (max-width: 576px) {
  main.main .brands .brand-list .list-item {
    padding: 8px;
  }
}

main.main .brands .brand-list .list-item img {
  width: 100%;
}

main.main .features {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  main.main .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  main.main .features {
    padding: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  main.main .features {
    padding: 10px 0;
    margin-bottom: 40px;
  }
}

main.main .features .description {
  padding-right: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 50px);
          flex: 1 0 calc(50% - 50px);
}

@media (max-width: 992px) {
  main.main .features .description {
    padding-right: 0;
    padding-bottom: 50px;
  }
}

main.main .features .description-title {
  font-family: JakartaMedium, sans-serif;
  font-size: 36px;
  padding-bottom: 30px;
  line-height: initial;
}

@media (max-width: 768px) {
  main.main .features .description-title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  main.main .features .description-title {
    font-size: 24px;
  }
}

main.main .features .description-text {
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 1.6;
  color: #6b747a;
}

@media (max-width: 768px) {
  main.main .features .description-text {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  main.main .features .description-text {
    font-size: 14px;
  }
}

main.main .features .details {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

main.main .features .details .features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

@media (max-width: 576px) {
  main.main .features .details .features-list {
    margin: 0;
  }
}

main.main .features .details .features-list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
  padding: 20px 10px;
}

@media (max-width: 576px) {
  main.main .features .details .features-list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(100% - 20px);
            flex: 1 0 calc(100% - 20px);
    padding: 20px 0;
  }
}

main.main .features .details .features-list-item .features-icon.icon {
  display: block;
  padding-bottom: 25px;
}

main.main .features .details .features-list-item .features-icon.icon-clock {
  content: url("./../img/features/icon-clock.svg");
}

main.main .features .details .features-list-item .features-icon.icon-frame {
  content: url("./../img/features/icon-frame.svg");
}

main.main .features .details .features-list-item .features-icon.icon-check {
  content: url("./../img/features/icon-check.svg");
}

main.main .features .details .features-list-item .features-icon.icon-finger-print {
  content: url("./../img/features/icon-finger-print.svg");
}

main.main .features .details .features-list-item .features-title {
  font-family: JakartaBold, sans-serif;
  font-size: 18px;
  padding-bottom: 15px;
}

main.main .features .details .features-list-item .features-text {
  font-size: 14px;
  color: #6b747a;
  line-height: 1.6;
}

main.main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 50px 60px;
}

@media (max-width: 992px) {
  main.main .services {
    padding: 20px 30px 50px;
  }
}

@media (max-width: 768px) {
  main.main .services {
    padding: 20px 20px 40px;
  }
}

@media (max-width: 576px) {
  main.main .services {
    padding: 0 0 30px;
  }
}

main.main .services-title {
  width: 60%;
  font-size: 36px;
  font-family: JakartaMedium, sans-serif;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  main.main .services-title {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main.main .services-title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  main.main .services-title {
    font-size: 24px;
  }
}

main.main .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px -20px;
}

@media (max-width: 992px) {
  main.main .services-list {
    margin: 20px -10px;
  }
}

@media (max-width: 576px) {
  main.main .services-list {
    margin: 20px -5px;
  }
}

main.main .services-list .list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  main.main .services-list .list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

main.main .services-list .list-item-img {
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 5px;
  margin: 20px;
}

@media (max-width: 992px) {
  main.main .services-list .list-item-img {
    padding: 15px 5px;
    margin: 10px;
  }
}

@media (max-width: 576px) {
  main.main .services-list .list-item-img {
    padding: 15px 5px;
    margin: 5px;
  }
}

main.main .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -20px 20px;
  padding: 30px 0;
}

@media (max-width: 1320px) {
  main.main .categories {
    margin: 0 -20px 20px;
  }
}

@media (max-width: 992px) {
  main.main .categories {
    margin: 0 -10px 20px;
  }
}

@media (max-width: 576px) {
  main.main .categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.main .categories > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.333% - 100px);
          flex: 1 0 calc(33.333% - 100px);
  margin: 0 20px;
}

@media (max-width: 992px) {
  main.main .categories > * {
    margin: 0 10px;
  }
}

main.main .categories .description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

@media (max-width: 992px) {
  main.main .categories .description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-bottom: 50px;
  }
}

main.main .categories .description-title {
  font-family: JakartaMedium, sans-serif;
  font-size: 36px;
  padding-bottom: 30px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main.main .categories .description-title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  main.main .categories .description-title {
    font-size: 24px;
  }
}

main.main .categories .description-text {
  font-size: 18px;
  padding-bottom: 30px;
  color: #6b747a;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main.main .categories .description-text {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  main.main .categories .description-text {
    font-size: 14px;
  }
}

main.main .categories .category-item {
  background-color: #f6f8fa;
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 576px) {
  main.main .categories .category-item {
    margin-bottom: 30px;
  }
}

main.main .categories .category-item-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}

main.main .categories .category-item-title {
  font-family: JakartaMedium, sans-serif;
  font-size: 24px;
  padding-bottom: 25px;
  line-height: 1.6;
}

main.main .categories .category-item-text {
  color: #6b747a;
  line-height: 1.6;
}

main.main .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdf1e1;
  border-radius: 40px;
  margin: 150px 0 40px;
}

@media (max-width: 992px) {
  main.main .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 120px 0 40px;
  }
}

@media (max-width: 768px) {
  main.main .article {
    border-radius: 30px;
    margin: 80px 0 40px;
  }
}

@media (max-width: 576px) {
  main.main .article {
    border-radius: 20px;
    margin: 40px 0;
  }
}

main.main .article.bg-blue {
  background-color: #e5f4fe;
}

main.main .article.bg-blue .article-img::before {
  background-color: #dbedf9;
}

main.main .article.bg-orange {
  background-color: #fdf1e1;
}

main.main .article.bg-orange .article-img::before {
  background-color: #f5e6d3;
}

main.main .article-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-top: -60px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 992px) {
  main.main .article-img {
    width: 100%;
    padding-top: 50px;
  }
}

main.main .article-img:before {
  content: "";
  position: absolute;
  width: 90%;
  aspect-ratio: 1;
  top: 80%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 100%;
  z-index: 0;
}

@media (max-width: 992px) {
  main.main .article-img:before {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

main.main .article-img img {
  position: relative;
}

main.main .article .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40% - 40px);
          flex: 0 0 calc(40% - 40px);
  background-color: #fff;
  border-radius: inherit;
  padding: 50px;
  margin: auto;
  position: relative;
}

@media (max-width: 992px) {
  main.main .article .description {
    padding: 40px;
    margin: 0 25px 25px;
  }
}

@media (max-width: 768px) {
  main.main .article .description {
    padding: 30px;
    margin: 0 20px 20px;
  }
}

@media (max-width: 576px) {
  main.main .article .description {
    padding: 20px;
    margin: 0 15px 15px;
  }
}

main.main .article .description-title {
  font-family: JakartaMedium, sans-serif;
  font-size: 36px;
  padding-bottom: 30px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main.main .article .description-title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  main.main .article .description-title {
    font-size: 24px;
  }
}

main.main .article .description-text {
  font-size: 18px;
  padding-bottom: 30px;
  color: #6b747a;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main.main .article .description-text {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  main.main .article .description-text {
    font-size: 14px;
  }
}

main.main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
  counter-reset: card;
}

main.main .cards-section-title {
  font-size: 36px;
  text-align: center;
  font-family: JakartaMedium, sans-serif;
  padding: 100px 0 80px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main.main .cards-section-title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  main.main .cards-section-title {
    font-size: 24px;
  }
}

main.main .cards .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px 50px;
  position: relative;
}

@media (max-width: 992px) {
  main.main .cards .card-list {
    margin: 0 -10px 30px;
  }
}

@media (max-width: 768px) {
  main.main .cards .card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.main .cards .card-list::before {
  content: "";
  background-image: url("./../img/card-list-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 65%;
  aspect-ratio: 21/5;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 768px) {
  main.main .cards .card-list::before {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
}

@media (max-width: 576px) {
  main.main .cards .card-list::before {
    width: 125%;
  }
}

main.main .cards .card-list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.333% - 100px);
          flex: 1 0 calc(33.333% - 100px);
  background-color: #f6f8fa;
  border-radius: 20px;
  padding: 40px 30px;
  margin: 20px;
}

@media (max-width: 992px) {
  main.main .cards .card-list-item {
    padding: 24px 15px;
    margin: 10px;
  }
}

main.main .cards .card-list-item .card-item-counter {
  width: 56px;
  aspect-ratio: 1;
  display: block;
  position: relative;
  border-radius: 12px;
  margin-bottom: 30px;
  background-color: #1F509F;
}

main.main .cards .card-list-item .card-item-counter:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  counter-increment: card;
  content: counter(card);
  color: #fff;
  font-size: 22px;
}

main.main .cards .card-list-item .card-item-counter.clr-green {
  background-color: #e9fff0;
}

main.main .cards .card-list-item .card-item-counter.clr-green::before {
  color: #69c874;
}

main.main .cards .card-list-item .card-item-counter.clr-orange {
  background-color: #fdf2e2;
}

main.main .cards .card-list-item .card-item-counter.clr-orange::before {
  color: #f29d4b;
}

main.main .cards .card-list-item .card-item-counter.clr-purple {
  background-color: #f9e6fd;
}

main.main .cards .card-list-item .card-item-counter.clr-purple::before {
  color: #c856df;
}

main.main .cards .card-list-item .card-item-title {
  font-size: 24px;
  font-family: JakartaMedium, sans-serif;
  margin-bottom: 25px;
  line-height: 1.6;
}

main.main .cards .card-list-item .card-item-text {
  color: #6b747a;
  line-height: 1.6;
}

main.main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.main .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 60px;
}

@media (max-width: 992px) {
  main.main .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.main .footer-content .logo-info {
  max-width: 220px;
  padding: 20px 0;
  color: #20484f;
  line-height: 1.6;
}

main.main .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 992px) {
  main.main .footer-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 20px 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 576px) {
  main.main .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.main .footer-menu-col {
  padding-right: 30px;
}

@media (max-width: 576px) {
  main.main .footer-menu-col {
    padding-right: 0;
    padding-bottom: 30px;
  }
}

main.main .footer-menu-col:last-child {
  padding-right: 0;
}

@media (max-width: 576px) {
  main.main .footer-menu-col:last-child {
    padding-bottom: 0;
  }
}

main.main .footer-menu-col .menu-list-item {
  padding-bottom: 25px;
  color: #20484f;
}

main.main .footer-menu-col .menu-list-item .item-link {
  color: #20484f;
}

main.main .footer-menu-col .menu-list-item.list-title {
  font-size: 18px;
  font-family: JakartaMedium, sans-serif;
  padding-bottom: 24px;
}

main.main .footer .copyright {
  height: 100px;
  border-radius: 40px;
  background-color: #f6f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  margin: 20px 0 50px;
  color: #20484f;
  padding: 0 20px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main.main .footer .copyright {
    border-radius: 30px;
    margin: 15px 0 40px;
  }
}

@media (max-width: 576px) {
  main.main .footer .copyright {
    border-radius: 20px;
    margin: 10px 0 30px;
  }
}
/*# sourceMappingURL=style.css.map */