@import "./reset";
@import "./responsive";
@import "./fonts";
@import "./colors";
@import "./buttons";

body {
    font-family: JakartaRegular, sans-serif;
    color: #072125;
    display: flex;
    justify-content: center;

    a {
        color: #072125;
    }
}

main.main {
    width: 100%;
    max-width: 1360px;
    padding-top: 20px;
    margin: auto 20px;

    @include MaxWidthResponsive(1480px) {
        max-width: 1200px;
    }

    @include MaxWidthResponsive(576px) {
        width: calc(100% - 20px);
    }

    .navbar {
        width: 100%;
        padding: 20px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include MaxWidthResponsive(768px) {
            padding: 15px 0 30px;
        }

        @include MaxWidthResponsive(576px) {
            padding: 10px 0 20px;
        }

        &-nav {
            @include MaxWidthResponsive(1320px) {
                position: fixed;
                left: -100%;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: #f6f9fb;
                z-index: 9;
                transition: all 0.3s ease-in-out;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &.open {
                @include MaxWidthResponsive(1320px) {
                    left: 0;
                }
            }

            .menu-list {
                display: flex;

                @include MaxWidthResponsive(1320px) {
                    flex-direction: column;
                    align-items: center;
                }

                &-item {
                    padding-left: 10px;
                    padding-right: 20px;

                    @include MaxWidthResponsive(1320px) {
                        margin-bottom: 25px;
                    }

                    &:last-child {
                        padding-right: 10px;
                    }
                }
            }

            .menu-close-btn {
                border: 1px solid $clr-blue;
                border-radius: 8px;
                height: 34px;
                width: 34px;
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;

                &:before,
                &:after {
                    content: "";
                    width: 50%;
                    position: absolute;
                    height: 2px;
                    background-color: $clr-blue;
                    top: 50%;
                    left: 50%;
                }

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                @include MinWidthResponsive(1321px) {
                    display: none;
                }
            }

            & > .btn {
                @include MinWidthResponsive(1321px) {
                    display: none;
                }
            }
        }

        &-btn {
            display: flex;
            .btn {
                @include MaxWidthResponsive(576px) {
                    display: none;
                }
            }

            .menu-open-btn {
                border: 1px solid $clr-blue;
                border-radius: 8px;
                margin-left: 10px;
                height: 34px;
                width: 40px;
                position: relative;
                cursor: pointer;

                &:before,
                &:after {
                    content: "";
                    width: 25%;
                    position: absolute;
                    height: 2px;
                    background-color: $clr-blue;
                    top: 50%;
                }

                &:before {
                    left: 50%;
                    box-shadow: 0 -5px 0 0 $clr-blue;
                }

                &:after {
                    right: 50%;
                    box-shadow: 0 5px 0 0 $clr-blue;
                }

                @include MinWidthResponsive(1321px) {
                    display: none;
                }
            }
        }
    }

    .dashboard {
        background-color: #f6f9fb;
        border-radius: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @include MaxWidthResponsive(768px) {
            border-radius: 30px;
        }

        @include MaxWidthResponsive(576px) {
            border-radius: 20px;
        }

        .description {
            padding: 10px 5px 10px 60px;
            position: relative;
            flex: 0 1 40%;

            @include MaxWidthResponsive(1320px) {
                padding: 40px 30px;
                flex: 0 1 auto;
            }

            @include MaxWidthResponsive(768px) {
                padding: 35px 20px;
            }

            @include MaxWidthResponsive(576px) {
                padding: 30px 10px;
            }

            &-title {
                font-family: JakartaMedium, sans-serif;
                font-size: 48px;
                padding-bottom: 20px;
                line-height: 1.15;

                @include MaxWidthResponsive(768px) {
                    font-size: 36px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 32px;
                }

                &.bold-title {
                    font-family: JakartaBold, sans-serif;
                    font-size: 50px;

                    @include MaxWidthResponsive(768px) {
                        font-size: 40px;
                    }

                    @include MaxWidthResponsive(576px) {
                        font-size: 36px;
                    }
                }
            }

            &-text {
                font-size: 22px;
                padding-bottom: 30px;
                line-height: initial;
                color: #31383d;

                @include MaxWidthResponsive(768px) {
                    font-size: 18px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 16px;
                }

                &.clr-gray {
                    color: #6b747a;
                }
                .clr-orange {
                    color: #f29d4b;
                }
            }

            &-buttons {
                .btn {
                    margin-right: 15px;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &.center-items {
                max-width: 600px;
                flex: 1 1 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px 20px;
                margin: auto;
                text-align: center;
            }
        }
        &-image {
            padding: 10px 0;
            flex: 0 1 60%;

            @include MaxWidthResponsive(1320px) {
                display: none;
            }

            &.mg-right {
                margin-right: -40px;
                text-align: right;
            }
        }

        &.chain-img {
            padding-bottom: 80px;

            @include MaxWidthResponsive(576px) {
                padding-bottom: 0;
            }
        }

        & + .mg-bottom {
            margin-top: -150px;

            @include MaxWidthResponsive(576px) {
                display: none;
            }

            img {
                width: 100%;
            }
        }

        &-blue {
            background-color: #2c54a3;
            color: #fff;
            position: relative;
            overflow: hidden;
            padding: 50px 0;

            @include MaxWidthResponsive(768px) {
                padding: 40px 0;
            }

            @include MaxWidthResponsive(576px) {
                padding: 25px 0;
            }

            .description-text {
                color: #fff;
                font-family: JakartaLight;
                padding: 20px 0 50px;

                @include MaxWidthResponsive(768px) {
                    padding: 15px 0 40px;
                }
    
                @include MaxWidthResponsive(576px) {
                    padding: 10px 0 30px;
                }
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                height: 100%;
                aspect-ratio: 1;
                background-color: #ffffff;
                opacity: 0.05;
                top: 0;
                border-radius: 100%;
            }

            &:before {
                left: 0;
                transform: translate(-50%, 50%);
            }

            &:after {
                right: 0;
                transform: translate(50%, -50%);
            }
        }
    }

    .brands {
        width: 100%;
        padding-bottom: 30px;

        @include MaxWidthResponsive(768px) {
            padding-bottom: 25px;
        }

        @include MaxWidthResponsive(576px) {
            padding-bottom: 20px;
        }

        .brand-list {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 50px 0 20px;

            @include MaxWidthResponsive(768px) {
                padding: 30px 0 10px;
            }

            @include MaxWidthResponsive(576px) {
                padding: 15px 0 5px;
            }

            .list-item {
                padding: 10px;

                @include MaxWidthResponsive(576px) {
                    padding: 8px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .features {
        padding: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        @include MaxWidthResponsive(992px) {
            flex-direction: column;
            padding: 20px 30px;
        }

        @include MaxWidthResponsive(768px) {
            padding: 20px;
            margin-bottom: 50px;
        }

        @include MaxWidthResponsive(576px) {
            padding: 10px 0;
            margin-bottom: 40px;
        }

        .description {
            padding-right: 50px;
            flex: 1 0 calc(50% - 50px);

            @include MaxWidthResponsive(992px) {
                padding-right: 0;
                padding-bottom: 50px;
            }

            &-title {
                font-family: JakartaMedium, sans-serif;
                font-size: 36px;
                padding-bottom: 20px;
                line-height: initial;

                @include MaxWidthResponsive(768px) {
                    font-size: 32px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 24px;
                }
            }

            &-text {
                font-size: 18px;
                padding-bottom: 20px;
                line-height: initial;
                color: #6b747a;

                @include MaxWidthResponsive(768px) {
                    font-size: 16px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 14px;
                }
            }
        }

        .details {
            flex: 1 0 50%;
            .features-list {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;

                @include MaxWidthResponsive(576px) {
                    margin: 0;
                }

                &-item {
                    flex: 1 0 calc(50% - 20px);
                    padding: 20px 10px;

                    @include MaxWidthResponsive(576px) {
                        flex: 1 0 calc(100% - 20px);
                        padding: 20px 0;
                    }

                    .features {
                        &-icon {
                            &.icon {
                                display: block;
                                padding-bottom: 20px;

                                &-clock {
                                    content: url("./../img/features/icon-clock.svg");
                                }
                                &-frame {
                                    content: url("./../img/features/icon-frame.svg");
                                }
                                &-check {
                                    content: url("./../img/features/icon-check.svg");
                                }
                                &-finger-print {
                                    content: url("./../img/features/icon-finger-print.svg");
                                }
                            }
                        }

                        &-title {
                            font-family: JakartaBold, sans-serif;
                            font-size: 18px;
                            padding-bottom: 12px;
                        }

                        &-text {
                            font-size: 14px;
                            color: #6b747a;
                            line-height: initial;
                        }
                    }
                }
            }
        }
    }

    .services {
        display: flex;
        flex-direction: column;
        padding: 20px 50px 60px;

        @include MaxWidthResponsive(992px) {
            padding: 20px 30px 50px;
        }

        @include MaxWidthResponsive(768px) {
            padding: 20px 20px 40px;
        }

        @include MaxWidthResponsive(576px) {
            padding: 0 0 30px;
        }

        &-title {
            width: 60%;
            font-size: 36px;
            font-family: JakartaMedium, sans-serif;
            line-height: initial;
            margin-bottom: 20px;

            @include MaxWidthResponsive(992px) {
                width: 100%;
            }

            @include MaxWidthResponsive(768px) {
                font-size: 32px;
            }

            @include MaxWidthResponsive(576px) {
                font-size: 24px;
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 20px -20px;

            @include MaxWidthResponsive(992px) {
                margin: 20px -10px;
            }

            @include MaxWidthResponsive(576px) {
                margin: 20px -5px;
            }

            .list-item {
                flex: 0 1 25%;
                display: flex;
                align-items: stretch;
                justify-content: center;

                @include MaxWidthResponsive(768px) {
                    flex: 0 1 50%;
                }

                &-img {
                    width: 100%;
                    border: 1px solid #f1f1f1;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 5px;
                    margin: 20px;

                    @include MaxWidthResponsive(992px) {
                        padding: 15px 5px;
                        margin: 10px;
                    }

                    @include MaxWidthResponsive(576px) {
                        padding: 15px 5px;
                        margin: 5px;
                    }
                }
            }
        }
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 0 -30px 20px;
        padding: 30px 0;

        @include MaxWidthResponsive(1320px) {
            margin: 0 -20px 20px;
        }

        @include MaxWidthResponsive(992px) {
            margin: 0 -10px 20px;
        }

        @include MaxWidthResponsive(576px) {
            flex-direction: column;
        }

        & > * {
            flex: 1 0 calc(33.333% - 100px);
            margin: 0 30px;

            @include MaxWidthResponsive(1320px) {
                margin: 0 20px;
            }

            @include MaxWidthResponsive(992px) {
                margin: 0 10px;
            }
        }

        .description {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include MaxWidthResponsive(992px) {
                flex: 1 1 100%;
                padding-bottom: 50px;
            }

            &-title {
                font-family: JakartaMedium, sans-serif;
                font-size: 36px;
                padding-bottom: 20px;
                line-height: 1.15;

                @include MaxWidthResponsive(768px) {
                    font-size: 32px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 24px;
                }
            }

            &-text {
                font-size: 18px;
                padding-bottom: 20px;
                color: #6b747a;
                line-height: initial;

                @include MaxWidthResponsive(768px) {
                    font-size: 16px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 14px;
                }
            }
        }

        .category-item {
            background-color: #f6f8fa;
            border-radius: 20px;
            padding: 20px;

            @include MaxWidthResponsive(576px) {
                margin-bottom: 30px;
            }

            &-img {
                width: 100%;
                border-radius: 12px;
                margin-bottom: 20px;
            }

            &-title {
                font-family: JakartaMedium, sans-serif;
                font-size: 24px;
                padding-bottom: 20px;
                line-height: initial;
            }

            &-text {
                color: #6b747a;
                line-height: initial;
            }
        }
    }

    .article {
        display: flex;
        align-items: center;
        background-color: #fdf1e1;
        border-radius: 40px;
        margin: 150px 0 40px;

        @include MaxWidthResponsive(992px) {
            flex-direction: column;
            margin: 120px 0 40px;
        }

        @include MaxWidthResponsive(768px) {
            border-radius: 30px;
            margin: 80px 0 40px;
        }

        @include MaxWidthResponsive(576px) {
            border-radius: 20px;
            margin: 40px 0;
        }

        &.bg- {
            &blue {
                background-color: #e5f4fe;

                .article-img {
                    &::before {
                        background-color: #dbedf9;
                    }
                }
            }

            &orange {
                background-color: #fdf1e1;

                .article-img {
                    &::before {
                        background-color: #f5e6d3;
                    }
                }
            }
        }

        &-img {
            flex: 0 0 50%;
            margin-top: -60px;
            text-align: center;
            position: relative;
            overflow: hidden;

            @include MaxWidthResponsive(992px) {
                width: 100%;
                padding-top: 50px;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                aspect-ratio: 1;
                top: 80%;
                right: 0;
                transform: translate(0, -50%);
                border-radius: 100%;
                z-index: 0;

                @include MaxWidthResponsive(992px) {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            img {
                position: relative;
            }
        }

        .description {
            flex: 0 0 calc(40% - 40px);
            background-color: #fff;
            border-radius: inherit;
            padding: 50px;
            margin: auto;
            position: relative;

            @include MaxWidthResponsive(992px) {
                padding: 40px;
                margin: 0 25px 25px;
            }

            @include MaxWidthResponsive(768px) {
                padding: 30px;
                margin: 0 20px 20px;
            }

            @include MaxWidthResponsive(576px) {
                padding: 20px;
                margin: 0 15px 15px;
            }

            &-title {
                font-family: JakartaMedium, sans-serif;
                font-size: 36px;
                padding-bottom: 20px;

                @include MaxWidthResponsive(768px) {
                    font-size: 32px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 24px;
                }
            }

            &-text {
                font-size: 18px;
                padding-bottom: 20px;
                color: #6b747a;
                line-height: initial;

                @include MaxWidthResponsive(768px) {
                    font-size: 16px;
                }

                @include MaxWidthResponsive(576px) {
                    font-size: 14px;
                }
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        counter-reset: card;

        &-section-title {
            font-size: 36px;
            text-align: center;
            font-family: JakartaMedium, sans-serif;
            padding: 100px 0 80px;

            @include MaxWidthResponsive(768px) {
                font-size: 32px;
            }

            @include MaxWidthResponsive(576px) {
                font-size: 24px;
            }
        }

        .card-list {
            display: flex;
            margin: 0 -20px 50px;
            position: relative;

            @include MaxWidthResponsive(992px) {
                margin: 0 -10px 30px;
            }

            @include MaxWidthResponsive(768px) {
                flex-direction: column;
            }

            &::before {
                content: "";
                background-image: url("./../img/card-list-bg.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 65%;
                aspect-ratio: 21/5;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;

                @include MaxWidthResponsive(768px) {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }

            &-item {
                flex: 1 0 calc(33.333% - 100px);
                background-color: #f6f8fa;
                border-radius: 20px;
                padding: 40px 30px;
                margin: 20px;

                @include MaxWidthResponsive(992px) {
                    padding: 24px 15px;
                    margin: 10px;
                }

                .card-item {
                    &-counter {
                        width: 56px;
                        aspect-ratio: 1;
                        display: block;
                        position: relative;
                        border-radius: 12px;
                        margin-bottom: 20px;
                        background-color: $clr-blue;

                        &:before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            counter-increment: card;
                            content: counter(card);
                            color: #fff;
                            font-size: 22px;
                        }

                        &.clr- {
                            &green {
                                background-color: #e9fff0;
                                &::before {
                                    color: #69c874;
                                }
                            }
                            &orange {
                                background-color: #fdf2e2;
                                &::before {
                                    color: #f29d4b;
                                }
                            }
                            &purple {
                                background-color: #f9e6fd;
                                &::before {
                                    color: #c856df;
                                }
                            }
                        }
                    }

                    &-title {
                        font-size: 24px;
                        font-family: JakartaMedium, sans-serif;
                        margin-bottom: 20px;
                    }

                    &-text {
                        color: #6b747a;
                        line-height: initial;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;

        &-content {
            display: flex;
            justify-content: space-between;
            padding: 100px 0 60px;

            @include MaxWidthResponsive(992px) {
                flex-direction: column;
            }

            .logo {
                &-info {
                    max-width: 220px;
                    padding: 20px 0;
                    color: #20484f;
                    line-height: initial;
                }
            }
        }

        &-menu {
            display: flex;
            flex: 0 1 50%;

            @include MaxWidthResponsive(992px) {
                flex: 1 1 100%;
                padding: 20px 0 0;
                justify-content: space-between;
            }

            @include MaxWidthResponsive(576px) {
                flex-direction: column;
            }

            &-col {
                padding-right: 30px;

                @include MaxWidthResponsive(576px) {
                    padding-right: 0;
                    padding-bottom: 30px;
                }

                &:last-child {
                    padding-right: 0;

                    @include MaxWidthResponsive(576px) {
                        padding-bottom: 0;
                    }
                }

                .menu-list {
                    &-item {
                        padding-bottom: 20px;
                        color: #20484f;

                        .item-link {
                            color: #20484f;
                        }

                        &.list-title {
                            font-size: 18px;
                            font-family: JakartaMedium, sans-serif;
                            padding-bottom: 24px;
                        }
                    }
                }
            }
        }

        .copyright {
            height: 100px;
            border-radius: 40px;
            background-color: #f6f8fa;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            margin: 20px 0 50px;
            color: #20484f;
            padding: 0 20px;

            @include MaxWidthResponsive(768px) {
                border-radius: 30px;
                margin: 15px 0 40px;
            }

            @include MaxWidthResponsive(576px) {
                border-radius: 20px;
                margin: 10px 0 30px;
            }
        }
    }
}
